html,body{
    padding:0;
    margin:0;
}
header nav{
    height: 80px;
}
ul{
    display: flex;
    margin: 0;
    height: 100%;
    align-items: center;
    justify-content: center;
}
li{
    margin-right: 30px;
}
.banner{
    background: url('https://homepages.cae.wisc.edu/~ece533/images/tulips.png') no-repeat;
    height:calc(100vh - 80px);
    background-size:cover
}

.fixed{
    position: fixed;
    bottom:40px;
    width: 50px;
    height: 50px;
    background: black;
    border-radius: 50%;
    right:40px;
}